<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    Welcome to My Spring Boot Application
</header>

<main>
    <div>
        <h1>Welcome!</h1>
        <p>This is the main page of my Spring Boot application, where you can explore various features.</p>
        <a href="" class="button">Get Started</a>
    </div>
</main>

<footer>
    &copy; 2024 My Application. All rights reserved.
</footer>
</body>
</html>
